table tr .heading{
    font-weight: bold;
}
table tr:nth-child(odd){
    background-color: rgb(247, 243, 243);
}
.invoice_card{
   padding: 10px;
   border: 1px solid rgb(231, 230, 230);
   border-radius: 3px;
}