.headerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px;
    padding: 5px 15px;
    border: 1px solid rgb(226, 223, 223);
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}
.header_link a{
    color: rgb(124, 122, 122);
    margin: 10px;
    font-weight: 600;
}
.header_link a:hover{
    color: black;
}
.active{
    background-color:  rgb(221, 216, 216);
    padding: 12px 5px;
    border-radius: 5px;
}